body {
  margin: 0;
  background-color: #fcfcfc;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  background-color: purple;
  width: 100%;
  font-weight: 600;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: white;
  font-weight: 300;
}

header > button {
  width: 100px;
  height: 40px;
  background-color: rgba(82, 153, 10, 0.815);
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 500;
}
header > button:hover {
  background-color: rgb(81, 153, 10);
}

main {
  display: flex;
}

.container {
  justify-content: center;
  display: flex;
  width: 100%;
  flex-flow: wrap;
  margin-top: 20px;
}

.book {
  border-color: black;
  border-width: 1px;
  border: 2px;
  border-style: groove;
  height: 210px;
  width: 290px;
  text-align: center;
  padding: 10px;
}

.bookPopup {
  display: none;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  width: 80%;
  padding: 15px;
  background-color: whitesmoke;
}

.form-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 6px 8px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  color: #fff;
}

#cancel {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  padding: 0 12px;
  line-height: 20px;
  height: 30px;
  max-height: 30px;
  background: none;
  font-weight: 700;
  border: 0;
  border-radius: 0;
  color: #d92736;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
  box-shadow: none; }

  #cancel:hover {
    background: #f7f9fd;
  }


#submit {

  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #4299e1;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;

}
